# --- Librerías de Inteligencia Artificial ---
google-generativeai

# --- Librerías de Interfaz Gráfica Moderna ---
customtkinter
packaging

# --- Conector de Base de Datos ---
mysql-connector-python

# --- Utilidades de Sistema ---
python-dotenv
